<p><em>
    The 'Yes/No with sort priority' is a special type, and requires you to enter the sort priority.
    When sorting your applicants on their score in the applicant overview, they will first be ordered on this
    sort priority, then on their average score. This makes it easier to prioritise certain applicants over others
    with higher scores, like underrepresented groups or speakers. Being able to set a priority allows you to
    have multiple questions like this.
    For example, if you'd like to prioritise underrepresented groups,
    make this a Yes/No field in your CSV, load it into your sort priority question, and assign a priority of 1.
    Fields with this type will also be included in the applicant overview table.
</em></p>
