{% extends "base.html" %}

{% block title %}Applicants - {{ program }}{% endblock %}

{% block content %}
<div class="section">
    <div class="main-column">
        <h1>Applicants</h1>

        <table class="nice">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Applied</th>
                <th>Actions</th>
            </tr>
            {% for applicant in applicants %}
            <tr>
                <td>{{ applicant.name }}</td>
                <td>{{ applicant.email }}</td>
                <td>{{ applicant.applied|date:"j M Y P" }}</td>
                <td>
                    <a href="{{ applicant.urls.view }}">View</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <a href="{{ program.urls.applicants_bulk }}">Bulk load</a>
    </div>
</div>
{% endblock %}
